header{
	border:1px solid blue;
	padding :30px;
	background-color:aquamarine;
	
}

.skills{
	border :1px solid blue;
	padding: 30px;
	background-color: aquamarine;
}
.education{
	border: 1px solid blue;
	padding: 30px;
	background-color: aquamarine;
}
.experience{
	border: 1px solid blue;
	padding:30px;
	background-color: aquamarine;
}

.contact_info{
	border: 1px solid blue;
	padding: 30px;
	background-color: aquamarine;
}